body {
  font-family: Arial, sans-serif;
  background-color: #5beb2f;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background: #000;
  color: white;
  text-align: left;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background: #444;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #eb0505;
}
